body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
  margin: 70px 50px;
}

/* Headings */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */

.fluid-container {
  padding: 3% 15% 7%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #ffff;
}

.white-section {
  background-color: #fff;
}

/* Navbar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.row {
  padding-top: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-size: Montserrat-Light;
}

/* Download Button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  text-align: left;
}

/* Title Image */
.title-img {
  transform: rotate(25deg);
  position: absolute;
  left: 50%;
}

/* Features Section */

#features {
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 13%;
  padding-right: 13%;

  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.col-lg-4 {
  padding: 5%;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonials-text {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 12%;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 2%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call To Action */

#cta {
  padding: 7% 15%;
}

/* Footer */

#footer {
  padding: 7% 15%;
  background-color: #fff;
}

.btn-md {
  margin-bottom: 10px;
}

/* Media Query */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
